* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(163, 49, 49);
  color: white;
}

.container {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container--clock {
  height: calc(100vh - 4em);
  gap: 4em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container--clock span {
  scale: 5;
}